---
import ContentSection from "~/components/content-section.astro";
import { getI18N } from "~/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---
  <head>
    <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
  </head>

  <body>

    <ContentSection title={i18n.Contact.title} id="contactform">
      <form
        class="w-full max-w-sm rounded bg-offset p-6 shadow-md"
        id="submit_form"
        method="POST"
      >
        <div class="mb-4">
          <input
            class="w-full rounded border px-3 py-2 text-gray-700"
            id="fullname"
            name="fullname"
            placeholder={i18n.Contact.name}
            type="text"
            required
          />
        </div>
    
        <div class="mb-4">
          <input
            class="w-full rounded border px-3 py-2 text-gray-700"
            id="phoneNumber"
            name="phoneNumber"
            type="tel"
            placeholder={i18n.Contact.phone}
            required
          />
        </div>
    
        <div class="mb-4">
          <input
            class="w-full rounded border px-3 py-2 text-gray-700"
            id="email"
            name="email"
            type="email"
            placeholder={i18n.Contact.email}
            required
          />
        </div>
    
        <div class="mb-4">
          <input
            class="w-full rounded border px-3 py-2 text-gray-700"
            id="business"
            name="business"
            type="text"
            placeholder={i18n.Contact.company}
            required
          />
        </div>
    
        <div class="mb-4">
          <textarea
            class="w-full rounded border px-3 py-2 text-gray-700"
            id="help"
            name="help"
            rows="4"
            placeholder={i18n.Contact.message}
            required></textarea>
        </div>
     
        <button
        type="submit"
        class="w-full g-recaptcha rounded bg-pink-500 px-4 py-2 text-white hover:bg-pink-700"
        data-sitekey="6LdzwPwpAAAAAJjPBbtGg-c2xHGlj1G_PhznZlHk"
        data-callback="onSubmit"
        data-action="submit"
        >
        <span>{i18n.Contact.button}</span>
        </button>
      
      </form>
    </ContentSection>

  </body>

