---
import { Icon } from 'astro-icon/components';
import ContentSection from "~/components/content-section.astro";
import { getI18N } from "~/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<ContentSection title={i18n.intro.title} id="intro">
  <Icon slot="eyebrow" name="logomark"  class="w-[130px] h-[130px]" />
  <Fragment slot="lead">
    {i18n.intro.description}
    <span class="text-primary"> {i18n.intro.description2}</span> {i18n.intro.description3}
  </Fragment>
  <a
    href="https://calendly.com/rpgdevs/"
    target="_blank"
    
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
  <!-- This would be ideal but we want to take track how many come throguht the page -->
  <!-- rel="noopener noreferrer" -->
    <Icon name="mdi:calendar" class="h-8" />
    <span>{i18n.intro.diary}</span>
  </a>
</ContentSection>
