---
import ContentSection from "~/components/content-section.astro";

import { Image } from "astro:assets";

import partners1 from '~/assets/partners1.jpg';
import partners2 from '~/assets/partners2.jpg';
import partners3 from '~/assets/partners3.jpg';
import partners4 from '~/assets/partners4.jpg';
import { getI18N } from "~/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<ContentSection title={i18n.Partners.title} id="partners">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        <Image src={partners1} alt="Partner 1" class="h-40 w-auto md:w-auto duration-300 hover:scale-110" />
        <Image src={partners2} alt="Partner 2" class="h-40 w-auto md:w-auto duration-300 hover:scale-110" />
        <Image src={partners3} alt="Partner 3" class="h-40 w-auto md:w-auto duration-300 hover:scale-110" />
        <Image src={partners4} alt="Partner 4" class="h-40 w-auto md:w-auto duration-300 hover:scale-110" />
      </div>
    <div class="services-text">
        {i18n.Partners.description} <span class="text-primary">{i18n.Partners.description2}</span>
    </div>
</ContentSection>